#recoverhPassword{
    text-decoration:none;
    margin: 50px 10px;
}
#password{
    width: 170px;
    height: 40px;
    text-align: center;
}
ion-header ion-toolbar{
    --background :rgb(126, 126, 243);
    color: rgb(247, 233, 233);
}
#title{
    padding: 5px 10px;
    font-size: 14px;
    background-color: rgb(238, 229, 229);
}
// ion-back-button:hover{
//     --color: rgb(185, 210, 255);
// }