<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inviteFriend</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="margin-top: 10px;">




  <ion-grid>
    <ion-row>
      <ion-col size="12"> 
        <ion-list> 
          <ion-item *ngFor="let friend of listFriends, index as i" >
            <ion-avatar style="width: 35px!important; height: 35px!important; margin-right: 7px;" slot="start"> <ion-img [src]="friend.urlImg" ></ion-img> </ion-avatar>
            <ion-label style="margin-left: 0px; ">
              <ion-text >
                <h3 style="font-weight: 500; font-size: 13px; ">{{friend.name}}</h3>
              </ion-text >
              <!-- <ion-buttons *ngIf='!noti.server'> -->
                  <ion-button *ngIf="!checkFriend(friend.idsend)"  (click)="accepAdd(friend, i)">Đồng ý</ion-button>
                  <ion-button *ngIf="!checkFriend(friend.idsend)" (click)="accepAdd(friend, i)">Từ chối</ion-button>
                  <p *ngIf="checkFriend(friend.idsend)">Bạn bè</p>
                <!-- </ion-buttons>     -->
              <!-- <p *ngIf="!noti.server && noti.status!= 'none'">{{noti.status}}</p> -->
          </ion-label>
          </ion-item>
        </ion-list>
  
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" >
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
