<ion-content>
  <!-- đây là cái tab ở dưới thôi có mấy cái icon coi cái nào k ưng ý thì có thể thay -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="chat">
        <ion-icon id="rec" name="chatbubble-ellipses-outline">
        </ion-icon>
        <!-- nếu có tin thì nút này hiện -->
        <div id="abs">N</div>
        <small>Tin nhắn</small>
      </ion-tab-button>
      <ion-tab-button tab="friends">
        <ion-icon name="people-circle-outline"></ion-icon>
        <small>Bạn bè</small>
      </ion-tab-button>
      <ion-tab-button tab="group">
        <ion-icon name="people-outline"></ion-icon>
        <small>Nhóm</small>
      </ion-tab-button>
      <ion-tab-button tab="notification">
        <ion-icon name="time-outline"></ion-icon>
        <div id="abs">N</div>
        <small>Nhật ký</small>
      </ion-tab-button>
      <ion-tab-button tab="infor-user">
        <ion-icon name="person-circle-outline"></ion-icon>
        <small>Cá Nhân</small>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>