ion-header ion-toolbar{
    --background :rgb(126, 126, 243);
    color: rgb(247, 233, 233);
}
#avatar{
background-color: rgb(135, 224, 2);
}
#icons{
    color: white;
    font-size: 25px;
    padding-left: 5px ;
    padding-top: 5px;
}
.icon_note{
    margin: 0 10px;
}