<ion-header>
  <ion-toolbar>
    <ion-title>Tin Nhắn</ion-title>
  </ion-toolbar>
</ion-header>


<!-- trang nàu là trang để hiển thị thôi nên k cần làm gì cả -->
<ion-content>
  <app-seachs></app-seachs>
  <!-- <ion-row style="width: 100%; height: 70px;">
    <app-userstatus *ngIf="!_services.checkSeach"></app-userstatus>
  </ion-row> -->
  
  <!-- <app-useronline *ngIf="!_services.checkSeach"></app-useronline> -->
  <app-viewmessage *ngIf="!_services.checkSeach"></app-viewmessage>
</ion-content>
