<ion-list>

<ion-list>
	<ion-item-sliding *ngFor="let msg of listMsg, index as i">
		<ion-item id="label-rec" *ngIf='!isHideMsg(msg._id)' [routerLink]="['/home/chat', msg.roomname]"
			routerLinkActive="router-link-active">
			<ion-avatar slot="start" class="avatar">
				<ion-img [src]="msg.urlImg"></ion-img>
				<div class="badge" [class.badge-online]="_services.handleUserStatus(msg.roomname).isOnline"></div>
				<!-- <div class="badge badge-offline" ></div> -->
			</ion-avatar>

			<ion-label>
				<ion-text>
					<p> {{handleNameRoom(msg)}} </p>
				</ion-text>
				<p style="color:rgb(151, 151, 151)" >{{handleMsg(msg)}}</p>
				<small *ngIf="msg.idsend != _services._id">{{getSeen.status}}</small>
				<small *ngIf="msg.idsend == _services._id">{{isSeenMySendMsg.status}}</small>
				<small>{{_services.handleUserStatus(msg.roomname).contentHome}}</small>
				<small id=small-abs>{{msg.created | date:'shortTime'}}</small>

			</ion-label>
			<div id="bage" *ngIf='msg.idsend != _services.user._id && !getSeen.isseen' slot="end">N</div>

		</ion-item>
		<ion-item-options side="end" *ngIf='!isHideMsg(msg._id)'>
			<ion-item-option (click)='blockRoom(msg.roomname)' *ngIf='!isBlocked(msg.roomname)' slot="icon-only"
				color="medium">
				<!-- thay cái này bằng icon chặn tin nhắnnhắn -->
				<ion-icon class="textIcons" name="close-circle-outline">
				</ion-icon>
				<small class="text-small">Chặn</small>
			</ion-item-option>
			<ion-item-option (click)='unBlockRoom(msg.roomname)' *ngIf='isBlocked(msg.roomname)' slot="icon-only"
				color="medium">
				<!-- thay cái này bằng icon bỏ chặn -->
				<ion-icon class="textIcons" name="checkmark-done-circle-outline">
				</ion-icon>
				<small class="text-small">Bỏ Chặn</small>
			</ion-item-option>
			<ion-item-option *ngIf='!isDissmissNotification(msg.roomname)' (click)='dismissNotification(msg.roomname)'
				slot="icon-only" color="secondary">
				<!-- thay cái này bằng icon tắt thông báobáo -->
				<ion-icon class="textIcons" name="notifications-off-outline">
				</ion-icon>
				<small class="text-small">Tắt</small>
			</ion-item-option>
			<ion-item-option *ngIf='isDissmissNotification(msg.roomname)' (click)='missNotification(msg.roomname)'
				slot="icon-only" color="secondary">
				<!-- thay cái này bằng icon bậtbật thông báobáo -->
				<ion-icon class="textIcons" name="notifications-outline">
				</ion-icon>
				<small class="text-small">Bật</small>
			</ion-item-option>
			<ion-item-option (click)='hideRoom(msg._id)' slot="icon-only" color="primary">
				<!-- thay cái này bằng icon ẩn tin nhắnnhắn -->
				<ion-icon class="textIcons" name="eye-off-outline">
				</ion-icon>
				<small class="text-small">Ẩn</small>
			</ion-item-option>
			<ion-item-option (click)='deleteMessagesinRoom(msg, i)' slot="icon-only" color="danger">
				<!-- thay cái này bằng icon xóa tin nhắnnhắn-->
				<ion-icon class="textIcons" name="trash-outline">

				</ion-icon>
				<small class="text-small">Xoá</small>
			</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
</ion-list>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
	<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
	</ion-infinite-scroll-content>
</ion-infinite-scroll>