<ion-header>
  <ion-toolbar>
    <ion-title>signUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="onSignUp(formSignUp)" #formSignUp="ngForm" >
          <ion-item class="no-padding-top">
            <ion-input ngModel #txtEmail="ngModel"
            name="userName" type="text" placeholder="Số điện thoại"></ion-input>
          </ion-item>
            <ion-item class="no-padding-top">
            <ion-input ngModel #txtEmail="ngModel"
            name="name" type="text" placeholder="ten "></ion-input>
          </ion-item>
          <ion-item class="no-padding-top">
            <ion-input  ngModel #txtPass="ngModel"
            name="passWord" type="password" placeholder="Mật khẩu"></ion-input>
        </ion-item>
        <ion-button color="primary" >Đăng Nhập</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
