<ion-header>
  <ion-toolbar>
    <ion-title>Nhật Ký</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let noti of listNotificantion, index as i">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="noti.urlImg" />
        </ion-avatar>
        <div class="mes">{{noti.msg}}</div>
        <ion-badge slot="end">
          <ion-icon (click)="onClick()" style="font-size: 20px;cursor: pointer;" name="ellipsis-horizontal"></ion-icon>
        </ion-badge>
      </ion-item>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>


</ion-content>