<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>inf-user</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img style="width: 100%; height: auto; max-height: 178px; max-width: 100px; display: block; margin: 0 auto;" [src]='_services.user.urlImg'></ion-img>
<ion-list>
  
  <ion-item >
    <ion-label  style="width: 15%;">Tên:</ion-label>
    <ion-input id='name'  type='text' value={{_services.user.name}} [disabled]='isDisabled("name")' style="width: 70%;" ></ion-input>
    <ion-button (click)='dontDisabled("name")'>Sửa</ion-button>
  </ion-item>

  <ion-item >
    <ion-label  style="width: 15%;">Tên:</ion-label>
    <ion-input id="userName"  type='text' value={{_services.user.userName}} [disabled]='isDisabled("userName")' style="width: 70%;" ></ion-input>
    <ion-button (click)='dontDisabled("userName")'>Sửa</ion-button>
  </ion-item>

</ion-list>

<p *ngIf='err'>{{err}}</p>

<ion-button (click)='onUpdate()'>Cập Nhật</ion-button>

 
</ion-content>
