ion-header ion-toolbar{
    --background :rgb(126, 126, 243);
    color: rgb(247, 233, 233);
}
#title{
    padding: 5px 10px;
    font-size: 14px;
    background-color: rgb(238, 229, 229);
    text-align: center;
}
ion-back-button:hover{
    --color: rgb(185, 210, 255);
}
#dangki{
    width: 170px;
    height: 40px;
    text-align: center;
}