<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Quên mật khẩu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="position: relative;">
  <div id="title">Điền đầy đủ thông tin mà bạn <a style="font-weight: 700;font-size: 15px; color: black;">Nhớ</a> được
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form #formSignUp="ngForm">
          <ion-item class="no-padding-top">
            <ion-input ngModel #txtEmail="ngModel" name="name" type="text" placeholder="Họ và tên ... "></ion-input>
          </ion-item>
          <ion-item class="no-padding-top">
            <ion-input ngModel #txtEmail="ngModel" name="userName" type="text" placeholder="Số điện thoại"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col size="12">
        <ion-button color="primary" shape="round" [routerLink]="['/login']" id="dangki">Đồng ý</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="position: absolute;bottom: 4%;left: 1%;text-align: center;padding: 0 10px;">
    <a href="" style="font-size: 14px; padding-bottom:5px;color: rgb(155, 152, 144);text-decoration: none;">
      Thông tin chính xác sẽ giúp bạn dễ dàng lấy lại mật khẩu
    </a>
  </div>

</ion-content>