<!-- <ion-header>
  <ion-toolbar>
	 <ion-title>scroll</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content
[scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()"
direction="xy"
>
<ion-button (click)="ScrollToBottom()">
  Scroll To Bottom
</ion-button>

<ion-button (click)="ScrollToPoint(300, 120)">
  Scroll To Point Left
</ion-button>

<ion-list>
  <ion-item *ngFor="let item of dummyList">
	 <ion-label>{{ item.value }}</ion-label>
  </ion-item>
</ion-list>

<div style="height: 50px;width:600px;" text-right>
  <ion-button (click)="ScrollToPoint(-300, -120)">
	 Scroll To Point Right
  </ion-button>
</div>

<ion-button (click)="ScrollToTop()">
  Scroll To Top
</ion-button>
</ion-content> -->



<!-- đây là hiển thị tin nhắn nè -->
<ion-header>
	<ion-toolbar style="text-align: center;">
		<ion-buttons slot="start">
			<ion-back-button color="light" mode='ios' (click)='onBack()'></ion-back-button>
		</ion-buttons>
		<!-- them ten nguoi nhan tin -->
		<ion-title style="display: block;">{{handelNameRomm}}</ion-title>
		<small style="margin-top: 40px;">{{myHandle()}}</small>
		<ion-buttons slot="end">
			<ion-icon id="button-end" (click)='presentPoper($event)' name="ellipsis-vertical-outline"></ion-icon>
		</ion-buttons>

	


	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" position="top">
		<ion-infinite-scroll-content position="top" loadingSpinner="bubbles" loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<ion-grid>


		<ion-row  *ngFor='let message of messages'>
			<div style="width: 25px;margin-right: 5px;"
				*ngIf=' message.idsend != _services.user._id && !isDeleting(message._id) '>
				<ion-avatar>
					<ion-img style="width: 25px;height: 25px;" [src]='message.urlImg'></ion-img>
				</ion-avatar>
			</div>
			<div *ngIf=' message.idsend != _services.user._id && !isDeleting(message._id) '
				class="message other-message">
				<!-- <b style="font-weight: 300; font-size: 13px; margin-top: 2px;">{{handleName(message)}}</b><br> -->
				<small style="font-weight: 600; color:black;">{{message.msg}}</small>
				<div class="time" text-right>
					<small style="font-weight: 500;color:black ;">{{message.created | date:'shortTime'}}</small>
				</div>
			</div>
			<ion-col size='2' *ngIf=' message.idsend != _services.user._id && !isDeleting(message._id) '>
				<ion-icon style="margin-top:15px" (click)='onDeleteAmsg(message._id)' name="trash-bin-outline">
				</ion-icon>
			</ion-col>
			<ion-col style="padding-top: 10px;" size='1' offset='2'></ion-col>
			<!-- k cần sửasửa -->
			<ion-col size="9" >
				<div *ngIf=' message.idsend == _services.user._id && !isDeleting(message._id)  '
					class="message my-message">
					<ion-icon id="abs" style="float: left;"
						*ngIf=' message.idsend == _services.user._id && !isDeleting(message._id)  '
						(click)='onDeleteAmsg(message._id)' name="trash-bin-outline"></ion-icon>
					<!-- <b style="font-weight: 300; font-size: 13px;">{{handleName(message)}}</b><br> -->
					<small style="font-weight: 600;color:black ;">{{message.msg}}</small>
					<div class="time" text-right>
						<small style="font-weight: 500; color: black;">{{message.created | date:'shortTime'}}</small>
					</div>
				</div>
			</ion-col>

		</ion-row>
		<ion-row *ngIf='isMySendMsg().checkRow' style="text-align: right; font-size: 13px;">
			<!-- <ion-col *ngIf='!isMySendMsg().checkCol' size='9'>
				<p *ngIf="getSeen().isseen">Đã xem <ion-icon name="checkmark-done-outline"></ion-icon></p>
				<p *ngIf="!getSeen().isseen">hien icon chua xem</p>

				{{getSeen().status}}
			</ion-col> -->
			<ion-col *ngIf='isMySendMsg().checkCol' size='12' offser='3' style="margin-top: -20px;">
				<!-- day nua ne -->
				<p *ngIf="isSeenMySendMsg().isseen">Đã xem <ion-icon name="checkmark-done-outline"></ion-icon>
				</p>
				<p *ngIf="!isSeenMySendMsg().isseen">Đã gửi <ion-icon name="checkmark-outline"></ion-icon>
				</p>
				<!-- {{isSeenMySendMsg().status}} <ion-icon name="checkmark-done-outline"></ion-icon> -->
			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>
<!-- đây là cái phần nhập tin nhắn và cái nút gởigởi -->

<ion-footer>
	<ion-toolbar>
		<ion-row align-items-center no-padding>
			<ion-col size='10'>
				<!-- chỗ nhâpj tin nhắn nènè -->
				<textarea [disabled]='isBlock()' autosize maxRows="33" [(ngModel)]="newMsg" class="message-input">
		</textarea>
			</ion-col>
			<ion-col size='2'>
				<!-- nút gởi nè -->
				<ion-button expand="block" fill="clear"  [disabled]=" newMsg=='' " class="msg-btn"
					(click)='sendMessage()'>
					<ion-icon style="color:red" name="send-sharp" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>