ion-header ion-toolbar{
    --background :rgb(126, 126, 243);
    color: rgb(247, 233, 233);
}
.seen{
    color: red;
}
.textIcons {
    position: relative;
}
.text-small {
    position: absolute;
    bottom: 19%;
    // left: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
ion-item-option {
    width: 60px;
}
ion-icon {
    font-size: 20px;
    color: rgb(238, 225, 225);
}
ion-avatar {
    width: 45px;
    height: 47px;
    text-align: center;
    align-items: center;
    justify-self: center;
}
ion-badge {
    border-radius: 35px;
    padding: 6px;
    --background: rgb(236, 70, 70);
    --color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 10px;
}
ion-text{
    font-weight: 700;
}
.avatar{
    position: relative !important;
}
.badge{
    position: absolute !important;
    bottom: -4px;
    right: -4px;
    border: 3px solid black;
    width: 17px;
    height: 17px;
    border-radius: 25px;
}
.badge-online{
    background-color: rgb(255, 208, 0);
}
.badge-offline{
    background-color: rgb(192, 184, 149);
}